/* Bakgrunden (=färg) */ 
body {
    background-color : white;
    }
    /* Remsan högst upp på sidan*/ 
header {
    width : 1000px;
    margin-left : auto;
    margin-right : auto;
    padding : 0 0 0 0;
    height : 200px;
    text-align : center;
    margin-top:10px;
}

    /* Headern under "remsan"*/ 
#headerbild {
    width : 1000px;
    margin-top: 0px;
    margin-left : 0px;
    margin-right : auto;
    padding : 0 0 0 0;
    height : 200px;
    margin:auto;    
}

.top-right {
    position: absolute;
    top: 400px;
    right: 350px;
    font-family : Oswald;
    font-size : 40px;
    font-weight : bold;
    color : black;
    text-align : center;
    width: 500px;
    margin-top: 30px;
    margin-right:30px;
}   

    /* Menyn högst upp med telefonnummer och mejladress */ 
#menyett {
    width : 1000px;
    float: left;
    list-style-type : none;
    margin-top : 10px;
    margin-bottom : 10px;
    margin-right : 0;
    margin-left : 0;
    padding : 0;
    overflow : hidden;
    background-color : whitesmoke;
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 0.5);
    border-radius:10px;
}

   /* Vart meny1 ska vara, höger, vänster eller centrerat */ 
#menyett li {
    float : right;
}

    /* Typsnitt och storlek på meny1 */ 
#menyett li a {
    font-family : arial;
    font-size : 22px;
    font-weight : bold;
    text-align : left;
    padding : 20px 20px 20px;
    text-decoration : none;
    color: black;  /*texten lyser om man markerar på den*/
    -webkit-text-stroke: 0.5px white;
}

    /* Vad som händer när man tar pilen över meny1 text (just nu blir det svart bakgrund bara) */ 
#menyett li a:hover {
    background-color : white;
}
    /* Wrapper = storlek på hela sidan */ 
#wrapper {
    width : 1000px;
    margin : 0 auto;
    padding : 0 0 0;
    vertical-align : middle;
    
}

    /* Content = Textinnehållet under headern */ 
#content {
    margin-left : auto;
    margin-right : auto;
    width : 950px;
    background : whitesmoke;
    margin-top : 50px;
    padding : 30px;
    font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align : left;
    vertical-align : middle;
    color: black;  /*texten lyser om man markerar på den*/
    border-radius: 10px;
}

    /* Rubrik i headern */ 
h1 {
    -webkit-text-stroke: 1px black;
    font-family : Oswald;
    font-size : 50px;
    font-weight : bold;
    text-align : left;
    margin-top : 20px;
    padding-top: 0px;
    margin-bottom : 0;
    padding : 0;
    color: #12ddfb; 
    text-shadow: 1px 1px #000000;
}

    /* Titlarna i content */ 
h2 {
    -webkit-text-stroke: 1px black;
    font-family : Oswald;
    font-size : 40px;
    font-weight : bold;
    margin-top : 20px;
    margin-bottom : 0;
    padding : 0;
    color: #12ddfb;

}

    /* Brödtexten i content */ 
p {
    font-family : Oswald;
    font-size : 20px;
    font-weight : normal;
    color : black;
    margin-top : 20px;
    margin-bottom : 0;
    padding : 0;
}

    /* Alla bilder på sidan */ 
img {
    border-radius : 1px;
    padding : 0;
    margin : 0;
}

    /* Vad som händer när man tar pilen på alla bilder,
    just nu blir det lite transparenta och får skugga */ 
img:hover {
    box-shadow : 0 0 2px 1px rgb(0 140 186 / 0.5);
    opacity : 0.5;
}

.center {
    display : block;
    margin-left : auto;
    margin-right : auto;
    width : 50%;
}


    /* Aside */
aside {
    width: 15%;
    padding-left: .5rem;
    margin-left: 20%;
    margin-right: 20%;
    float: right;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

.my-form{
<<<<<<< HEAD
    padding:20px;
    color: black;
    float: right;
}
  
.my-form .form-group {
    padding-bottom:15px 
     
}
  
.my-form label{
    display:block;
}
  
.my-form input[type="text"], .my-form textarea{
    padding:8px;
    width:30%;
=======
    width: 60%;
    background-color: #fff;
    margin-top: 20px;
}
input[type=text]{

    width: 50%;
    padding: 12px 20px;
    float: right;
    margin-right:-20%;
    margin-top: 10px;
>>>>>>> 9f33c344b1377c0473143045ddfa19819f6db8de
}
#textarea {
    margin-right: -13.2%;
    float: right;
    margin-top: 10px;
    max-width: 50%;

}
.categories {
    padding:10px;
    border-radius:15px;
}

.button {
    margin-top: 10px;
    margin-left: 35.5%;
    width: 120px;
    height: 40px;
    background-color: #222;
    color: #fff;
    margin-bottom: 10px;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color:black;
}

/* mouse over link */
a:hover {
    color:  #12ddfb;
}

/* selected link */
a:active {
    color:black;
}
#kontakt{
    margin-right: -17.5%;
    float:right;
}

.image-clip {
    line-height:1;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5ZHYcjscDJrIWCmlfSmi41-uGiJxo0Sawa3YpxpNaEOaXgroO&s);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
    -moz-background-clip:text;  
}

footer {  
    width: 100%;
    height: 150px;
    background-color: #fff;
    text-align: center;
    padding-top: 20px; 
}